
header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

header .header-1.active{
    display: none;
}

header .header-1{
    background-color: rgb(19, 19, 19);
    padding: 0.8rem;
}

header .header-1 a img{
    width: 14rem;
    height: 6rem;
}

header .header-2 a img{
    width: 15rem;
    height: 6rem;
    display: none;
}

header .header-2.header-2.active a img{
    display: block;
}

header .header-2{
    background-color: rgb(40, 40, 40);
    padding: 1.4rem;
}

header .header-2 #menu{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

header .header-2 .menu{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

header .header-2.active{
    position: fixed;
    justify-content: space-between;
    padding: 1rem 12%;
    border-bottom: 1px solid var(--RED);
}

header .header-2 .navbar ul{
    display: flex;
    align-items: center;
}

header .header-2 .navbar ul li{
    margin: 0 2.5rem;
}

header .header-2 .navbar ul li a{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

header .header-2 .navbar ul li a:hover,
header .header-2 .navbar ul li a.active{
    color: #e32c2e;
}