
header .header-1, header .header-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    background-color: rgb(19, 19, 19);
}

header .header-1 a img{
    width: 14rem;
    height: 6rem;
}